.container {

  display: grid;
  grid-template-columns: 1fr 160px;
  grid-template-areas:
    "titulo imagen"
    "parrafo parrafo"
    "formulario formulario";
  padding: 0 1.5rem;

  @media screen and (width >=768px) {
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
    grid-template-rows: 50px 90px 50px 350px 50px;
    grid-template-areas:
      "algo algo"
      "imagen titulo"
      "imagen parrafo"
      "imagen formulario";
    gap: 0 2rem;
  }

  .tittleContainer {
    position: relative;
    grid-area: titulo;
    align-self: center;



    .tittle {
      margin: 0;
      font-size: 28px;
      font-weight: 700;
    }
  }

  .image {
    justify-self: end;
    width: 136px;
    object-fit: fill;
    grid-area: imagen;

    @media screen and (width >=768px) {
      width: 100%;
      max-width: 390px;
    }
  }

  .paragraph {
    grid-area: parrafo;
    padding-top: 2rem;
    border-top: 1px solid #CCD1EE;
    margin-top: 2rem;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .2px;
    line-height: 20px;

    @media screen and (width >=768px) {
      align-self: end;
      margin: 0;
      border: none;
      padding: 0;
      max-width: 450px;
    }
  }

  .form {
    grid-area: formulario;
    display: grid;
    gap: 1rem;

    @media screen and (width >=768px) {
      align-self: center;
      max-width: 450px;
    }
  }

  .politicas {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 1rem .25rem;
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    align-items: center;

    p {
      margin: 0;
    }

    a {
      color: var(--black);
    }
  }
}